.container{
    max-width: 115rem;
    background-color: var(--color-Grey-light-3);
    margin:8rem auto;
    box-shadow: var(--shadow);

    @media only screen and (max-width:$width-greatest){
       margin:0;
       max-width:100%;
       //width:100%;
    }

    
}

.header{
    background-color: #fff; 
    color:#000;
    height:6rem;
    border:none;
    border-bottom: .2rem solid var(--color-Grey-light-3);;
   // border-bottom: 3px solid #000;

   @media only screen and (max-width:$width-smallest){
        height:fit-content;
        padding-bottom: 1.3rem;
   }
}

.content{
   display: flex;
   height:fit-content;

   @media only screen and (max-width:$width-small){
      flex-direction: column;
   }
}

.left-side{
   background-color: var(--color-Grey-dark-1);
   flex:0 0 19%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.main-content{
   background-color:var(--color-Grey-light-3);
   flex:1;
}

.detail{
  display: flex;
  padding:4rem;
  background-color: var(--color-Grey-light-3);
   
  @media only screen and (max-width:$width-medium){
       padding:2rem;
      flex-direction:column;
 }

}

.description{
  font-size: 1.4rem;
  border-radius: 2%;
  color: var(--color-Grey-dark-2);
  background-color:#fff;
  box-shadow: 0 1rem 2.5rem rgba(0,0,0,.3);
  flex:0 0 60%;
  margin-right: 3rem;
  padding:2.4rem 2.8rem;

  @media only screen and (max-width:$width-medium){
     margin-right: 0;
     padding:2rem 2.3rem;
     font-size:1.6rem;
  }
}

.review{
  background-color: var(--color-Grey-light-3);
  padding:.3rem;
  flex:1;
  @media only screen and (max-width:$width-medium){
   margin-right: 0;
   padding:2rem 1.3rem;
}
}